<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!--/*/<th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/<th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container col-sm-5 mt-5 text-center">

    <h1>Client list</h1>
    <ul class = "list-unstyled">
        <div class="row mt-3">
            <li class="mt-2" th:each="client : ${allClientsList}" >
                <a th:href="@{'/client/info/' + *{client.id}}"><span th:text="${client.lastName}  + ' ' + ${client.firstName}">Client</span></a>
                <a th:href="'/client/delete/' + *{client.id}"><button class="btn btn-danger" >Delete client</button></a>
                <a th:href="@{'/client/edit/' + *{client.id}}"><button class="btn btn-warning" >Edit client</button></a>
            </li>
        </div>
    </ul>

    <form class="form-group" action="/client/create" method="get">
    <button type="submit" class="btn btn-info"> Create new client</button>
    </form>

</div>

</body>
</html>